@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.board-row {
  padding: 1px 1px 1px 1px;
}

.square {
  width: 15%;
  height: 100px;
  font: 36px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}

/* Clicked button
.special {
  width: 15%;
  height: 100px;
  font: bold 36px Arial;
  background-color: #ffbdbd;  
  text-decoration: none;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
} */

.button {
  width: 100px;
  height: 30px;
  font: bold 15px Arial;
  text-decoration: none;
  background-color: #BBEEFF;
  color: #333333;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}
.button:active {
  font: bold 15px Monoton;
  background-color: #edffbb;
}

.title {
  width: 160px;
  height: 160px;
  font: bold 36px Segoe Print;
  text-decoration: none;
  color: #eeff00;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.numMoves {
  position: absolute;
  left: 60%;
  top: 12%;
} 
.numUndos {
  position: absolute;
  left: 60%;
  top: 15%;
} 
.pts {
  position: absolute;
  left: 60%;
  top: 18%;
} 

.undoButton {
  position: absolute;
  left: 60%;
  top: 21%;

}
.swapButton {
  position: absolute;
  left: 60%;
  top: 25%;
}

.resetButton {
  position: absolute;
  left: 60%;
  top: 29%;
}
.c1Button {
  position: absolute;
  left: 60%;
  top: 40%;
  background-color: #FFAAAA;
  color: #333333;
}
.c2Button {
  position: absolute;
  left: 60%;
  top: 44%;
  background-color: #AAFFAA;
  color: #333333;
}
.c3Button {
  position: absolute;
  left: 60%;
  top: 48%;
  background-color: #AAAAFF;
  color: #333333;
}