@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 65%, rgba(99,229,255,1) 100%); 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.board-row {
  padding: 1px 1px 1px 1px;
}

.square {
  width: 15%;
  height: 100px;
  font: 36px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
  transition: background-color .15s ease;
}

.square:active{
  text-decoration: rgb(87, 0, 128) wavy underline;
  font: 36px bold Arial;
}

.square:hover{
  background-color: #fffeb6;
  opacity: 0.9; /* Lower opacity to make it look inactive */

}

.square:disabled{
  color: #666666;
  background-color: #AAFFAA;
  cursor: not-allowed; /* Change cursor to indicate the button is disabled */

}

.button {
  width: 100px;
  height: 30px;
  font: bold 15px Arial;
  text-decoration: none;
  background-color: #BBEEFF;
  color: #333333;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
  transition: background-color 0.3s ease;
}
.button:active {
  font: bold 15px Monoton;
}
.button:hover {
  background-color: #edffbb;
}

.title {
  width: 160px;
  height: 160px;
  font: bold 36px Segoe Print;
  text-decoration: #eeff00 wavy underline;
  color: #eeff00;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.numMoves {
  color: #ffffff;
  position: absolute;
  left: 60%;
  top: 12%;
} 

.pts {
  color: #ffffff;
  position: absolute;
  left: 60%;
  top: 15%;
} 

.undoButton {
  position: absolute;
  left: 60%;
  top: 200px;

}
.swapButton {
  position: absolute;
  left: 60%;
  top: 235px;
}

.resetButton {
  position: absolute;
  left: 60%;
  top: 270px;
}
.c1Button {
  position: absolute;
  left: 60%;
  top: 335px;
  background-color: #FFAAAA;
  color: #333333;
}
.c2Button {
  position: absolute;
  left: 60%;
  top: 370px;  
  background-color: #AAFFAA;
  color: #333333;
}
.c3Button {
  position: absolute;
  left: 60%;
  top: 405px;
  background-color: #AAAAFF;
  color: #333333;
}